 @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Open+Sans:wght@300;400;500;600&display=swap');
 
 /* ---- Backdrop ---- */

 body {
     background: url("images/isle-of-skye.jpg");
     background-position: center;
     background-size: cover;
     width: 100%;
     height: 100%;
     overflow-x: hidden;
}

/* ---- Formatting and Fonts ---- */

.small-text {
    font-family: "Merriweather", Arial;
    color: white;
    letter-spacing: 1px;
    font-size: 14px;
}

#title {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: white;
    text-align: center;
    font-size: 100px;
}

#tagline {
    font-family: "Merriweather", Arial;
    color: white;
    text-align: center;
    font-size: 40px;
    letter-spacing: 1px;
}

#copyright {
    font-family: "Merriweather", Arial;
    color: white;
    font-size: 15px; 
    line-height: 3em;
}

#help {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: white;
    text-align: center;
    font-size: 50px;
    color: black;
}

/* ---- Form ---- */

.search-box {
    width: 27rem;
}

/* ---- Map ---- */

div#map {
    min-height: 27rem;
}

/* ---- Search Results ---- */

.grey-bg {
    background-color: grey;
}

.search-text {
    font-size: 20px;
}

/* ---- Contact ---- */

.white-bg {
    background-color: white;
}

.help-text {
    color:black;
    font-size: 20px;
}

/*-- Small (Mobile and Tablet) Screen View [Descending in order of appearance]--*/ 

    @media only screen and (max-width: 767px) {

    html, body {
        overflow-x: hidden;
    }

    body {
        position: relative
    }

    #title {
        font-size: 3em;
        }

    #tagline {
        font-size: 1.3em;
        }

    div#map {
        min-height: 25rem;
        width: 21.5rem;
    }

    .help-text {
        font-size: 15px;
        }

    }